<div id="whitestage">
  <h1>Editing section</h1>

  <% form_for( :section, :url => { :action => :update, :learning_module_id => @learning_module, :id => @section }, 
        :html => { :method => :put, :multipart => true }) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :title %>: <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :layout_image %> (will be resized to 350 pixels by 425 pixels, retaining aspect ratio)<br />
      <%= f.file_field :layout_image %>
      <% if @section.layout_image_file_name %>
        <br/>Current Image:<br/>
        <%= image_tag @section.layout_image.url(:thumb) %><br/>
        Check to set to no image: <%= check_box_tag :drop_image %>
      <% end %>
    </p>
    <p>
      <%= f.submit "Save" %>
    </p>
  <% end %>

  <%= link_to 'Show', learning_module_section_path(@learning_module, @section) %> |
  <%= link_to 'Back', learning_module_sections_path(@learning_module) %>
</div>